<!--
 <ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.message}}
    </li>
</ul>
-->
<div class="container-fluid">
    <h1 class="mt-5 text-center">Chat Up!</h1>
    <h3 *ngIf="!_ch.usuario.uid" class="text-center">
        <i class="fas fa-atom fa-spin fa-5x primary "></i>
    </h3>
    <app-login *ngIf="!_ch.usuario.uid"></app-login>
    <button *ngIf="_ch.usuario.uid" (click)="_ch.logout()" type="button" class="text-right btn-danger">LogOut</button>
    <div *ngIf="_ch.usuario.uid" class="chat-window animated fadeIn mt-3">
        <app-chat></app-chat>
    </div>
</div>